<% content_for :head do %>
  <title>Moves.Layout</title>
<% end%>

<% content_for :js do %>
  <script type="text/javascript" charset="utf-8">
    Zepto(function(){

      // Layout.ready(function(){  
      //           
      // })

    });
  </script>
  
<% end%>

<div data-role="page">

    <div data-role="header">
      <a href="#" class="back">Atras</a>
      <h1>Título</h1>
    </div>

      <div data-role="content">
        <div class="scroll scroll-h scroll-paged">
          <ul>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
            <li> <img src="http://placehold.it/200x200"></li>
          </ul>
        </div><!-- .scroll -->
      </div><!-- .content -->
  
    <div data-role="footer">
      <a href="#">action1</a>
    </div>

</div>