<% content_for :head do %>
  <title>Moves.Slider</title>
<% end%>

<% content_for :js do %>
  <script type="text/javascript" charset="utf-8">
    Zepto(function(){

      M.dom.sliders = $('.slider');
      // M.dom.main_layout = $('.layout');
      // 
      // var Layout = new M.Layout( M.dom.main_layout.first());

      var Sliders = [];
      M.dom.sliders.each(function(){
        Sliders.push( new M.Slider( $(this) ));
      })

      // Layout.ready(function(){});

    });
  </script>
<% end%>

<div data-role="page">

    <div data-role="header">
      <a href="#" class="back">Atras</a>
      <h1>Título</h1>
    </div>

  

      <div data-role="content">
     
                <div class="slider">
                  <ul>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                    <li> <img src="http://placehold.it/600x200"></li>
                  </ul>
                </div><!-- .slider -->
        
      </div><!-- .content -->

    <div data-role="footer">
      <a href="#">action1</a>
    </div>

</div>