* { box-sizing: border-box }

.scroll ul {
  margin:0;
  padding:0;
}


/* ================== */
/* = disable scroll = */
/* ================== */
/*html {
    overflow:hidden;
}

body {
    height:100%;
    overflow:auto;
}*/

//
//[data-role="section"]{
//  background:#999;
//}
//
//
//
//
//
//[data-role="header"] {
///*  display:table-row;*/
//  height:40px;
//  background:#333;
//  color:#FFF;
//}
//
//[data-role="footer"] {
///*  display:table-row;*/
//  height:40px;
//  background:#333;
//}
//
//[data-role="content"] [data-role="header"] {
//  height:auto;
//  background:transparent;
//}
//

[data-role="header"],
[data-role="footer"] {
  background:#333;
  max-height:40px;
  min-height:40px;
}




//.ui-fixed-toolbars  [data-role="page"] {
//  display:block;
//}

.ui-fixed-toolbars  [data-role="page"] {
  max-height:none;
  height:auto;
}

.ui-fixed-toolbars  [data-role="header"], 
.ui-fixed-toolbars  [data-role="footer"] {
  position:fixed;
  width:100%;
  z-index:100;
  left:0;
}

.ui-fixed-toolbars  [data-role="header"] { top:0; } 
.ui-fixed-toolbars  [data-role="footer"] { bottom:0; }

