// MARKUP:
//
//<div class="slider">   <---- this class required
// <ul>
//   <li></li>
//   <li></li>
//   <li></li>
// </ul>
//</div>


;(function($, window, document, undefined ){
  
  var opts = {
    dependencies : [{
        test : typeof iScroll ,
        yep : "<%= (settings.basepath+settings.js_dir+'/libs/iscroll.js') %>",
        callback : function(){
          console.log('loaded iScroll');
        }
    }]
  };
  
  M.Slider = new Class(opts);
  
  
  M.Slider.defaults = {
    autoplay : true,
    autoplayDelay : 3000,
    autoplayStopAtAction : true,
    onresize : function(){},
    iScroll : {
      scrollbarClass : 'scroll',
      snap: true,
    	momentum: false,
    	hScrollbar: false,
    	vScrollbar: false,
    	scrollV : false,
    	onTouchEnd : function(){
    	  this.M_Slider.autoStop();
    	},
    	onScrollEnd : function(){
    	  this.M_Slider.pager_items.removeClass('active').eq(this.currPageX).addClass('active');
      }
    }
  };
  
    
    
  M.Slider.include({
    before_init : function(element, options){
      var that = this;
      this.options = $.extend( {}, M.Slider.defaults , options);
      this.element = element;
      this.slides = element.find('ul > li');
      this.slides_length = this.slides.length;
      
      $(window).on('resize', $.proxy(this.resize, this));
      
      this.setSlidesWidths().createNextPrevNav().createPager();
    },
    
    init : function(element, options){
      this.iScroll = new iScroll( this.element[0] , this.options.iScroll);
      this.iScroll.M_Slider = this;
      
      if (this.options.autoplay) this.play();
      
      return this;
    },
    
    setSlidesWidths : function(){
      this.element.find('ul > li').css('width', this.element.width());
      return this;
    },
    
    createPager : function(){
      var onClickHandler = function(e){
            this.autoStop().goTo( $(e.target).attr('href').replace('#', '') );
            return false;
          },
          nav = '';
          
      for (var i=0; i < this.slides_length; i++) {
        nav = nav+'<a href="#'+i+'">'+i+'</a>';
      };
      
      this.pager = $('<nav class="slider-pager" />').html(nav).appendTo(this.element);
      this.pager_items = this.pager.find('a');
      this.pager_items.first().addClass('active');
      this.pager.on('click', 'a', $.proxy(onClickHandler, this));
      
      return this;
    },
    
    createNextPrevNav : function(){
      var that = this,
          nav = '<a href="#prev" class="slider-arrow slider-arrow-prev" data-increment="-1">Prev</a>';
          nav += '<a href="#next" class="slider-arrow slider-arrow-next" data-increment="+1">Next</a>';
        
      this.nav = $('<nav class="slider-nav" />').html(nav).appendTo(this.element);
      
      this.nav.on('click', 'a', function(){
        var n = parseInt(that.iScroll.currPageX) + parseInt($(this).attr('data-increment'));
        that.autoStop().goTo(n);
      });
      
      return this;
    },
    
    goTo : function(n){
      if (n=='next') n = this.iScroll.currPageX+1;
      else if (n=='prev') n = this.iScroll.currPageX-1;
      if (n >= this.slides_length) n = 0;
      else if (n < 0) n = this.slides_length;
      this.iScroll.scrollToPage(n, 0, 800);
    },
    
    play : function(){
      var that = this;
      this.autoplay_timer = setInterval(function(){
        that.goTo('next');
      }, this.options.autoplayDelay);
      
      return this;
    },
    
    autoStop : function(){
      if (this.options.autoplayStopAtAction) this.stop();
      return this;
    },
    
    stop : function(){
      if (this.autoplay_timer) clearInterval(this.autoplay_timer);
      return this;
    },
    
    resize : function(){
      this.setSlidesWidths();
      this.iScroll.refresh();
      this.options.onresize.call(this, this.viewport_calculated_height, this.page_sections_content_heights);
      return this;
    }
    
  });
  
})($, window, document);