<% content_for :head do %>
  <title>Moves! Mobile/Tablet web framework</title>
<% end%>

<% content_for :js do %>
  <script type="text/javascript" charset="utf-8">
    Zepto(function(){

      var Layout = new M.Layout();

      // Layout.ready(function(){  
      //           
      //       })

    });
  </script>
  
<% end%>

<div data-role="page" class="layout">
    <div data-role="header">
      <h1>Moves! Mobile/Tablet web framework</h1>
    </div>
  
    <div data-role="content">

          <div data-role="section">
            <div data-role="header">
              <h2>Moves.Layout</h2>
            </div>
              <div class="scroll">
                <ul class="ui-list">
                  <li><a href="demos/moves.layout.0.html">moves.layout.0.html</a></li>
                  <li><a href="demos/moves.layout.1.html">moves.layout.1.html</a></li>
                  <li><a href="demos/moves.layout.2.html">moves.layout.2.html</a></li>
                  <li><a href="demos/moves.layout.3.html">moves.layout.3.html</a></li>
                  <li><a href="demos/moves.layout.4.html">moves.layout.4.html</a></li>
                </ul>
              </div><!-- .scroll -->
          </div><!-- page-section -->

          <div data-role="section">
            <div data-role="header">
              <h2>Moves.Slider</h2>
            </div>
              <div class="scroll">
                <ul class="ui-list">
                  <li><a href="demos/moves.slider.0.html">moves.slider.0.html</a></li>
                  <li><a href="demos/moves.slider.1.html">moves.slider.1.html</a></li>
                  <li><a href="demos/moves.slider.2.html">moves.slider.2.html</a></li>
                  <li><a href="demos/moves.slider.3.html">moves.slider.3.html</a></li>
                  <li><a href="demos/moves.slider.4.html">moves.slider.4.html</a></li>
                </ul>
              </div><!-- .scroll -->
          </div><!-- page-section -->

    </div><!-- .content -->
  

    <div data-role="footer">
      <a href="#">Moves!</a>
    </div>

</div>